{% extends 'base.html.twig' %}

{% block title %}Créer une nouvelle Contribution{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Créer une nouvelle Contribution</h1>

        {{ form_start(form) }}
            {{ form_row(form.projet) }}
            {{ form_row(form.message) }}
            {{ form_row(form.type) }}
            {{ form_row(form.statut) }}
            <button type="submit" class="btn btn-primary">Créer</button>
        {{ form_end(form) }}

        <a href="{{ path('app_contribution_index') }}" class="btn btn-secondary mt-2">Retour à la liste</a>
    </div>
{% endblock %}
