{% extends 'base.html.twig' %}

{% block title %}Détails de la Contribution{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Détails de la Contribution</h1>

        <dl class="row">
            <dt class="col-sm-3">Id</dt>
            <dd class="col-sm-9">{{ contribution.id }}</dd>

            <dt class="col-sm-3">Projet</dt>
            <dd class="col-sm-9">{{ contribution.projet.nom }}</dd>

            <dt class="col-sm-3">Type</dt>
            <dd class="col-sm-9">{{ contribution.type }}</dd>

            <dt class="col-sm-3">Statut</dt>
            <dd class="col-sm-9">{{ contribution.statut }}</dd>
        </dl>

        <a href="{{ path('app_contribution_edit', {'id': contribution.id}) }}" class="btn btn-warning">Modifier</a>
        <a href="{{ path('app_contribution_index') }}" class="btn btn-secondary">Retour à la liste</a>
    </div>
{% endblock %}
